header, .nav {
    display: flex;
    align-items: center;
}

header {
    background: black;
    color: yellowgreen;
    font-size: 30px;
    justify-content: space-between;
}

.nav div {
    margin: 0 10px;
}


.nav > a, .nav > a:active, .nav > a:visited {
    color: yellowgreen;
}

a, a:active, a:visited {
    color: black;
}

a:hover {
    color: red;
}
button>a {
    text-decoration: none;
}